.login-wrapper {
  height: 100vh;
  background: linear-gradient(to right, #0072ff, #00c6ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 22px;
  box-shadow: 0 10px 32px rgba(0,0,0,0.2);
  text-align: center;
  color: white;
  width: 400px;
}

.login-card input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: none;
}

.login-card button {
  background: white;
  color: #0072ff;
  padding: 10px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-weight: bold;
}